DEVNET_CHAIN_ID=262144
DEVNET_RPC_URL=http://localhost:8545
DEVNET_ETH_NETWORK=

TESTNET_CHAIN_ID=262144
TESTNET_RPC_URL=http://localhost:8545
TESTNET_ETH_NETWORK=
TESTNET_VERIFY_URL=

MAINNET_CHAIN_ID=
MAINNET_RPC_URL=
MAINNET_ETH_NETWORK=
MAINNET_VERIFY_URL=

DEVNET_PRIVATE_KEY=
TESTNET_PRIVATE_KEY=
MAINNET_PRIVATE_KEY=

